body{
  background-color: #c4d3f6;

}

p{
  margin:0px;
}

.BordeTabla{
  
  color:#666;
  background-color: white;

  
  
  
}

.BordeTabla td{
  height: 50px;
}

.BordeTabla:hover{
  background-color: rgb(226, 223, 223);
}

.colorArriba{
  background-color: #6c7ae0;  
  color:white;
  
  
  
}
.colorArriba tr{
  vertical-align:middle;
  
  
}


.table{
  
  width: 70%;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  vertical-align:middle;
  caret-color: transparent;
  
  
  
  
}

.Buscar{
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.Buscarinput{
  vertical-align:middle;  
  padding-bottom: 5px;
  padding-left: 5px;
  
  
}

.BordeTabla:last-child{
  border:transparent;
}





